
/* Your CSS Code here. */

.holder {
	display: grid;

	height: 200px;
	width: 200px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	border: 1px solid #000;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border: 1px solid #ccc;
}